@model IEnumerable<WV.FeatureSwitch.Dashboard.Web.ViewModels.FeatureViewModel>

@{ }
<h4>Feature Switch Dashboard</h4>
@if (ViewBag.Notification != null)
{
<span id="Notification" class="text-success pull-right">
    @ViewBag.Notification
</span>}
<script>
    $("#Notification").fadeOut(6000);
</script>


@using (Html.BeginForm("ResetAll", "FeatureSwitch"))
{
    <input type="text" id="CountrySiteName" name="CountrySiteName" value="UKCountrySiteConnectionString">
    <br>
    <input type="submit" value="Reset">
}


<p>
    <a asp-action="Create">Create Batch</a>
</p>
<table class="table">
    <caption hidden="hidden">Choosing Events</caption>
    <tr>
        <th scope="col">
            <label asp-for="FirstOrDefault().Id"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().Name"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().Flag"></label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @item.Id
    </td>

    <td>
        <a asp-action="Edit" asp-route-name="@item.Name">@item.Name</a>
    </td>
    <td>
        @item.Flag
    </td>
</tr>
}
</table>