@model IEnumerable<WV.FeatureSwitch.Dashboard.Web.ViewModels.FeatureSwitchViewModel>

@{ }
<h4>Feature Switch Dashboard</h4>
@if (ViewBag.Notification != null)
{
    <span id="Notification" class="text-success pull-right">
        @ViewBag.Notification
    </span>}
<script>
    $("#Notification").fadeOut(6000);
</script>

@using (Html.BeginForm("BulkCreate", "FeatureSwitch"))
{
    <button>Bulk Create</button>
}

@using (Html.BeginForm("BulkDelete", "FeatureSwitch"))
{
    <input type="text" id="CountrySiteName" name="CountrySiteName" value="delete">
    <br>
    <input type="submit" value="delete">
}

@foreach (var item in Model)
{
    <Table>
        <thead>
            <tr>
                <th>
                    @using (Html.BeginForm("ResetAll", "FeatureSwitch"))
                    {
                        <input hidden="hidden" type="text" id="CountrySiteName" name="CountrySiteName" value="@item.CountrySite">
                        <br>
                        <input type="submit" value="Reset">
                    }
                </th>
            </tr>
            <tr>
                <th>@item.CountrySite</th>
            </tr>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Flag</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in item.Features)
            {
                <tr>
                    <td>@record.Id</td>
                    <td><a asp-action="Edit" asp-route-name="@record.Name">@record.Name</a></td>
                    <td>@record.Flag</td>
                </tr>
            }
        </tbody>
    </Table>
}