@model IEnumerable<WV.FeatureSwitch.Dashboard.Web.ViewModels.FeatureViewModel>

@{
    
}
<h4>Choosing Events</h4>
@if (ViewBag.Notification != null)
{
    <span id="Notification" class="text-success pull-right">
        @ViewBag.Notification
    </span>
}
<script>
    $("#Notification").fadeOut(6000);
</script>
<p>
    <a asp-action="Create">Create New</a>    
</p>
<table class="table">
    <caption hidden="hidden">Choosing Events</caption>
    <tr>
        <th scope="col">
            <label asp-for="FirstOrDefault().Id"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().Name"></label>
        </th>
        <th scope="col">
            <label asp-for="FirstOrDefault().Flag"></label>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>

            <td>
                <a asp-action="Edit" asp-route-name="@item.Name">@item.Name</a>
            </td>
            <td>
                @item.Flag
            </td>
        </tr>    }
</table>